/*

********************************************************

Note: Please, before changing anything in this file,
it's recommended to check the documentation.
Moreover, Only Change What You Know or Save The
Original File Somewhere In Your PC/Laptop.

》~ Project: Zanora | HTML Personal Portfolio 
》~ Version: v1.0.0
》~ Author: MKebsi - https://alkebsi.github.io/

********************************************************
*/

/*---------------------------------------------
----------------Main File------------------
---------------------------------------------*/
@import url("main.css");
:root
{
	--blue-grad: linear-gradient(135deg, var(--aqua), var(--light-blue));
}

/*---------------------------------------------
-----------General Settings----------
---------------------------------------------*/

/*making dark background, white font*/
body, #cv-ex-title, #cv-skl-title, 
.skl-bars2, #right-panel
{
	background: var(--dark);
	color: var(--white);
}
a
{
	text-decoration: none;
	color: var(--aqua);
}
a:hover
{
	color: var(--blue);
}
a:active
{
	color: var(--white);
}

/*---------------------------------------------
-----------------Content------------------
---------------------------------------------*/

/*Chnaging the border image*/
#right-panel, .timeline-element,
#cv-recoms .recom, #blog-article,
#blog-recoms
{
	border-image-source: url("../img/border-dark.png");
}

/*changing the color style*/
.wex-position, .wex-company
{
	background-size: auto;
}

/*Chnaging the ouside shadowed elements*/
#cv-avatar, .skill-img, #cv-recoms .recom-img,
#blog-info, #author-img, .blog-img-source a,
.article-recom, .blog-r-img, .blog-grid, #nl-card,
#newsl-email, #pagination-con1 li, #cv-btn,
#blog-btn
{
	box-shadow: var(--light-shadow);
}

/*Chnaging the inside shadowed elements*/
.skl-bars2, .cv-cert, .skl-bars2, .blog-img,
.old-cmnt, .old-cmnt-reply, .reply,
#name, #email, #comment
{
	box-shadow: var(--light-shadow-inset);
}
.no-sh-bg
{
	box-shadow: none;
}

/*Speacial Editiongs*/
#cv-bborder
{
	background: url("../img/bborder-dark.png");
	background-size: auto 100%;
}
.skl-bars > .gauge > .dial
{
	stroke: #112f2f;
}
.cv-cert-des, #right-panel a
{
	background: none;
	-webkit-text-fill-color: initial;
	color: var(--white);
}
#name, #email, #comment, #newsl-email
{
	color: var(--white);
}
#cv-btn
{
	background: var(--dark);
}
#cmr-btn
{
	color: var(--white);
}
#cv-online
{
	background: var(--white);
}
.rp-link-btn-dark
{
	background: var(--white);
	color: var(--black);
}
.rp-link-title
{
	color: var(--white);
}

/*---------------------------------------------
-------------------Footer------------------
---------------------------------------------*/
#footer
{
	background: var(--white);
}
#footer h1, #footer a
{
	color: var(--dark);
}